vscode/
fotos_28x28/
Emociones2/
Imagenes/
Inteligencia Artificial/
venv/
venv/lib/
Otros/
sportimages/
Animales/
TutorAlgoritmos/
venv_filosofia/


# Ignorar archivos de video
*.mp4
*.avi
*.mov
*.mkv
*.xml

# Ignorar archivos temporales y caché
__pycache__/
*.pyc
*.pyo
*.log
